.body
{
    box-sizing: border-box;
    margin: 0 ;
    background: rgb(111, 111, 111);
}
.Container
{
  background-color: rgb(0, 111, 113);
  height: 600px ;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px ;
}
.container
{
   background: red;
   width: 200px ;
   height: 500px ;
   display: grid;
   grid-template-columns: 200px ;
   grid-template-rows: repeat(6 , auto) ;
}