body {
  box-sizing: border-box;
  margin: 0;
  background: rgb(255, 255, 255);
  display: grid ;
  grid-template-rows: auto auto auto auto auto ;
}

.container 
{
   grid-row: 3 ;
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   margin: 20px;
   width: auto;
   align-items: center;
   justify-content: center;
}

.card
{
   background-color: white;
   border: 2px solid #ddd;
   border-radius: 10px;
   padding: 15px;
   width: 150px;
   text-align: center;
   box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card img 
{
 width: 150px;
 height: auto;
 border-radius: 10px;
 border: 3px solid #333;
}

.card .title_A { color: rgb(0, 0, 0); }
.card .code_A { color: rgb(64, 83, 255); }
.card .author_A { color: rgb(0, 0, 0); }
.card .year_A { color: rgb(0, 0, 0); }
.card .price_A { color: rgb(0, 182, 39); }
.card .status_A { color: rgb(0, 0, 0); }


.library
{
  grid-row: 1 ;
  color: black;
  font-size: 30px ;
  display: flex ;
  align-items: center;
  justify-content: center;
}



.searching
{
  grid-row: 2 ;
  display: flex ;
  justify-content: center ; /* moves the square to the LEFT */
  align-items: center;
  height: 100px ;
}
.searching #searchBar
{
  color: blue;
  margin-right: 60px ;
  height: 40px ;
  border: none ;
  outline: none;
}

.icone
{
  background: rgb(99, 99, 99);
  height: 46px ;
  width: 70px ;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.max_price
{
  color: green;
}
.number_available
{
  color: green;
}
.number_total
{
  color: green;
}
.number_all_prices
{
  color: green;
}
.Average_price
{
  color: green;
}


.botona_ON
{
  width: 120px;
  height: 40px ;
  margin-bottom: 12px;
  background: rgb(89, 89, 89);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 12px ;
}

.botona_OFF
{
  width: 120px;
  height: 40px ;
  margin-bottom: 12px;
  background: rgb(89, 89, 89);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 12px ;
}
.botona
{
  width: 120px;
  height: 40px ;
  margin-bottom: 12px;
  background: rgb(89, 89, 89);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 12px ;
}



#foter_number
{
  grid-row: 4 ;
  background: rgb(255, 255, 255) ;
  text-align: center;
  width: 300px ;
  margin-left: auto ;
  margin-right: auto ;
}
#foter_number .number_available
{
  background: rgb(255, 255, 255) ;
  text-align: center;
  border: 1px solid rgb(190, 190, 190);
  width: 270px ;
  height: 40px ;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px ;
  border-radius: 20px ;
  transition: 0.3s;
}
#foter_number .number_available:hover
{
  transform: scale(1.7);
  box-shadow: 6px 8px 8px rgba(0,0,0,0.6);
}



#foter_number .number_total
{
  background: rgb(255, 255, 255) ;
  text-align: center;
  border: 1px solid rgb(190, 190, 190);
  width: 270px ;
  height: 40px ;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px ;
  border-radius: 20px ;
  transition: 0.3s;
}
#foter_number .number_total:hover
{
  transform: scale(1.7);
  box-shadow: 6px 8px 8px rgba(0,0,0,0.6);
}


#foter_number .number_all_prices
{
  background: rgb(255, 168, 168) ;
  text-align: center;
  border: 1px solid rgb(190, 190, 190);
  width: 270px ;
  height: 40px ;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px ;
  border-radius: 20px ;
  transition: 0.3s;
}
#foter_number .number_all_prices:hover
{
  transform: scale(1.7);
  box-shadow: 6px 8px 8px rgba(0,0,0,0.6);
}


#foter_number .Average_price
{
  background: rgb(255, 255, 255) ;
  text-align: center;
  border: 1px solid rgb(190, 190, 190);
  width: 270px ;
  height: 40px ;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px ;
  border-radius: 20px ;
  transition: 0.3s;
}
#foter_number .Average_price:hover
{
  transform: scale(1.7);
  box-shadow: 6px 8px 8px rgba(0,0,0,0.6);
}


#foter_number .max_price
{
  background: rgb(255, 255, 255) ;
  text-align: center;
  border: 1px solid rgb(190, 190, 190);
  width: 270px ;
  height: 40px ;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px ;
  border-radius: 20px ;
  transition: 0.3s;
}
#foter_number .max_price:hover
{
  transform: scale(1.7);
  box-shadow: 6px 8px 8px rgba(0,0,0,0.6);
}